<%- model_class = TestActionDatum -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => TestActionDatum %></h1>
</div>
<%= render :partial => 'form' %>
