<%- model_class = ObjectIdentifier -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => ObjectIdentifier %></h1>
</div>
<%= render :partial => 'form' %>

<%= form_for [@object_identifier.test_action.testset.collection, @object_identifier.test_action.testset, @object_identifier.test_action, @object_identifier], :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
              collection_testset_test_action_object_identifier_path(@object_identifier.test_action.testset.collection, @object_identifier.test_action.testset, @object_identifier.test_action, @object_identifier),
              :method => :delete,
              :data => {
                :confirm => t('.confirm',
                :default => t("helpers.links.confirm", :default => 'Are you sure?'))
              },
              :class => 'btn btn-danger',
              :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" %>
    </div>
  </div>
<% end %>
