<%- model_class = ObjectIdentifier -%>
<div class="page-header">
  <h1>New Identifying Object
    <span class="unbold">
      for the
      <%= link_to "#{@object_identifier.test_action.activity.action_name}",
                  collection_testset_path(@object_identifier.test_action.testset.collection, @object_identifier.test_action.testset),
                  :class => 'code-link' %> action
    </span>
  </h1>
</div>
<%= render :partial => 'form' %>
