<%- model_class = DataElement -%>
<div class="page-header">
  <h1>Edit Variable Name</h1>
</div>
<%= render :partial => 'form' %>

<%= form_for @data_element, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="reset-section">
        <h3>Warning</h3>
        <p>
          Deleting a variable name deletes the values
          that are identified by this name.
        </p>
        <%= link_to 'Destroy variable and associated data',
                data_element_path(@data_element),
                :method => :delete,
                :data => {
                  :confirm => t('.confirm',
                  :default => t("helpers.links.confirm", :default => 'Are you sure?'))
                },
                :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
