<h2 class='oops-headline'>Oops! Please consider the environment</h2>

<p class='oops-text'>
  Each <strong>Variable Value</strong> needs at least one environment, 
  like <code>production</code> or <code>qa-staging</code>.
</p>

<%= link_to 'Create at least one before proceeding',
    new_environment_path,
    :class => 'btn btn-primary' %>
