<%- model_class = RunObjectIdentifer -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => RunObjectIdentifer %></h1>
</div>
<%= render :partial => 'form' %>

