// Place all the styles related to the ActionStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.passed-status {
  color: #00bb33;
}
.failed-status {
  color: #ff0000;
}
.pending-status {
  color: #aaa;
}
