// Place all the styles related to the ActionStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.passed-status {
  color: #00bb33;
}
.failed-status {
  color: #ff0000;
}
.pending-status {
  color: #aaa;
}*/

.dym-description {
  font-size: 80%;
  font-style: italic;
  padding: 0;
  margin: 0 0 0 0.5em;
}

.dym-container {
  margin-bottom: 1em;
}
