/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= stub active_admin
*= require slick
*= require slick-theme
*= require_self
*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

body {
  background-color: #efefee;
  width: 100%;
  margin: 0;
  padding: 0;
}

#container {
  padding: 1em 1em 2em;
  max-width: 100%;
}

a:hover, a:active, a:focus {
  background-color: none;
  text-decoration: none;
}

.table > thead > tr > th, .table > thead > tr > td {
  line-height: 2em;
}

.table > tbody > tr > th, .table > tbody > tr > td {
  line-height: 2em;
}

.table > tfoot > tr > th, .table > tfoot > tr > td {
  line-height: 2em;
}

footer {
  padding: 1em 1em 10em;
  background-color: #8c0001;
  color: #eee;
  height: 100%;
}

.quote-copyright-unquote {
  color: #eee;
  margin-bottom: 2em;
}

.quote-copyright-unquote > a,
.quote-copyright-unquote > a:link,
.quote-copyright-unquote > a:visited {
  color: #eee;
}
.quote-copyright-unquote > a:hover,
.quote-copyright-unquote > a:focus,
.quote-copyright-unquote > a:active {
  text-shadow: 0px 0px 0px #666;
  background-color: inherit;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #8c0001;
  color: #eee;
  border: 0px solid #8c0001;
}

.page-header {
  margin: 20px 0 20px;
  border-bottom: 0px none #eee;
}


.navbar-default a.navbar-brand {
  font-family:'Montserrat Subrayada', sans-serif;
  color: #eee;
}
.navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
color: #ccc;
}
.navbar-brand {
  padding-left: 5px;
}
.navbar-default .navbar-nav > li > a {
  color: #eee;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #660000;
  color: #ccc;
}

a.btn-primary:visited,
a.btn-danger:visited,
a.btn-warning:visited,
a.btn-info:visited {
  color: white;
}

.cursor-hand {
  cursor: pointer;
}

.fixed_table_header {
  height: 40px;
}

.table-heading-table {
  margin-bottom: 0px;
}

a.btn-danger, a.btn-danger:visited {
  background-color: #660000;
  border-color: #220000;
  color: #fff;
}

a.btn-danger:hover {
  background-color: #440000;
  border-color: #110000;
  color: #eee;
}

.title-class-link:hover {
  background-color: inherit;
}

.title-class-header {
  margin-bottom: -1em;
}

.btn-xxs {
  font-size: 60%;
  padding: 0.1em 0.4em;
  margin-top: -0.4em;
}

hr {
  border-top: 1px solid #d4d4d4;
}

.unbold {
  font-weight: 300;
}

.code-link, .code-link:link,
.code-link:visited {
  color: inherit;
  background-color: inherit;
}

.code-link:active,
.code-link:hover,
.code-link:focus {
  color: inherit;
  background-color: inherit;
  color: #666;
}

a.btn-extra,
a.btn-extra:link,
a.btn-extra:visited {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

a.btn-extra:active,
a.btn-extra:hover,
a.btn-extra:focus {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

.btn-with-margin {
  margin-left: 1em;
  margin-right: 1em;
}

.btn-with-margin:first-of-type {
  margin-left: 0;
}

.btn-with-margin:last-of-type {
  margin-right: 0;
}

.logo {
  width: 26px;
  height: 26px;
  margin: 11px 2px 13px 20px;
  float: left;
  border-radius: 50px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.scroller {
  div {
    width: '50%';
    margin: 0 auto;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -10px;
}

.slick-prev {
  left: -10px;
}

.slick-slide {
  text-align: center;
  height: 650px;
  width: 0px;
}

.slick-track {
  left: 650px;
  width: 75%;
}

.slick-list {
  overflow: hidden;
  left: 50px
}

.margin-zero-auto {
  margin: 0 auto;
}