// Place all the styles related to the RunTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column-name-width {
  width: 25%;
}

.column-description-width {
  width: 50%;
}

.column-updatedat-width {
  width: 25%;
}

.testset-name-column {
  width: 25%;
}

.testset-description-column {
  width: 50%;
}

.testset-updatedat-column {
  width: 25%;
}
