// Place all the styles related to the RunTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.run-test-action-container {
  font-size: 0.75em;
}

.run-test-action-name {
  font-size: 1.2em;
}

.execution-button {
  float:left;
  margin: 1.4em 1em;
  width:80%;
}

.table-striped > tbody > tr.collection-row:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

.browser-types-container {
  padding-top: 0.4em;
}
.browser-types-container > input[type="radio"] {
  margin-left: 0.5em;
}
.browser-types-container > input[type="radio"]:first-of-type {
  margin-left: 0em;
}

.browser-type-checkbox-container,
.environment-radio-container {
  margin: 0.1em 1em 0 0;
  float:left;
}

.title-before-execution-button {
  float:left;
}

.create-run-checkbox-column {
  width: 5%
}

.column-name-width {
  width: 25%;
}
.column-description-width {
  width: 45%;
}
.column-updatedat-width {
  width: 25%;
}

.testset-name-column {
  width: 25%;
}
.testset-description-column {
  width: 50%;
}
.testset-updatedat-column {
  width: 25%;
}

.test-action-table-container {
  padding-left: 3em;
  font-size: 0.75em;
}

.action-data-container {
  font-size: 1.4em;
}

.selected-object {
  text-align: center;
}

.table-striped > tbody > tr.show-hide-border-size:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

.table-striped > tbody > tr.test-run:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

.table-striped > tbody > tr.test-action:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

.table-striped > tbody > tr.test-set:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

#execution-tests-button {
  font-weight: 400;
  letter-spacing: 0px;
}

.execute-section {
  margin: 2em auto 1em;
  border-radius: 0.25em;
  padding: 2em 1em 0 1em;
  background-color: #444;
  color: #eee;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.execute-section > legend {
  font-size: 1.1em;
  font-weight: 400;
  border-bottom: 0 none #efefef;
  float: left;
  margin: -2.75em 0 0 -0.85em;
  // letter-spacing: 0.0625em;
  // font-variant: all-caps;
  color: #eee;
  padding: 0.5em 0.75em;
  background-color: #444;
  border-radius: 0.25em;
  width: auto;
}

.execute-section a.btn {
  margin-top: 1em;
}

.collection-runs-table {
  font-size: 0.6em;
}

.collection-runs-container {
  margin-top: 3em;
}

.pointer-name {
  color: #999;
}

.pointer-link:hover,
.pointer-link:active,
.pointer-link:focus {
  background-color: inherit;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default
}
