.collection-run-id-column {
  width: 10%;
}
.collection-run-name-column {
  width: 20%;
}
.collection-run-description-column {
  width: 50%;
}
.collection-run-updatedat-column {
 width: 20%;
}

.run-testaction-name-column {
  width: 20%;
}
.run-testaction-description-column {
  width: 20%;
}
.run-testaction-activity-column {
  width: 20%;
}
.run-testaction-success-column {
  width: 25%;
}
.table td.run-description-font-size {
  font-size: 0.9em;
}


a.browser-test-status,
a.browser-test-status:link,
a.browser-test-status:visited  {
  font-size: 0.6em;
  line-height: 1.4em;
  float: left;
  // border: 1px solid #118877;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0 1em 0 0;
  border-radius: 0.5em;
  //background-color: #18968E;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}
a.browser-test-status:hover,
a.browser-test-status:active,
a.browser-test-status:focus {
  background-color: #ddd;
  border: 1px solid #bbb;
}

a.browser-action-status,
a.browser-action-status:link,
a.browser-action-status:visited {
  font-size: 0.6em;
  line-height: 1.4em;
  float: left;
  //border: 1px solid #bedfcf;
  border: 1px solid #bbb;
  padding: 1em;
  margin: 0 1em 0 0;
  border-radius: 0.5em;
  // background-color: #bbefdf;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}
a.browser-action-status:hover,
a.browser-action-status:active,
a.browser-action-status:focus {
  background-color: #ccc;
  border: 1px solid #aaa;
}

.run-test-actions {
  font-size: 0.9em;
}

.run-test-name-column {
  width: 20%
}

.run-test-success-column {
  width: 20%;
}

.run-test-description-column {
  width: 20%;
}

.carousel-playback-btn{
  width: 25%;
}



.browser-test-status > .status-passed,
.browser-action-status > .status-passed,
.passed-status {
  color: #339900;
  font-weight: bold;
}
.browser-test-status > .status-failed,
.browser-action-status > .status-failed,
.failed-status {
  color: #990000;
  font-weight: bold;
}
.browser-test-status > .status-pending,
.browser-action-status > .status-pending,
.pending-status {
  color: #999;
}
