// Place all the styles related to the ScheduledTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scheduled-test-tests-column {
  width: 38%;
}
.scheduled-test-recurring-column {
  width: 20%;
}
.scheduled-test-next-test-column {
  width: 15%;
}
.scheduled-test-updated-at-column {
  width: 15%;
}
.scheduled-test-delete-column {
  width: 5%;
}
.scheduled-test-last-test-column {
  width: 7%;
}

a.scheduled-test-testset {
  font-size: 0.7em;
  float: left;
  margin-right: 0.7em;
}

.collection-name-container {
  float: left;
  padding-right: 0.2em;
  width: 100%;
}

.scheduled-tests-collection-container {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  box-shadow: 3px 2px 1px #aaa;
}

.small-table-headings {
  background-color: #eee;
}

.table-striped > tbody > tr.scheduled-tests-index-row:nth-of-type(odd) {
  border-top: #454545 solid 1px;
}

.hidden-table > tbody > tr.scheduled-test-testset > td {
  font-size: 0.9em;
  line-height: 1.6em;
}

.last-test-status {
  font-size: 60%;
  padding: 0.3em 0.8em;
  margin-top: -0.5em;
  width: 6em;

  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857143;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.last-test-nil {
  background-color: #999;
  color: #ddd;
}
.last-test-true {
  background-color: #339900;
  color: #fff;
}
.last-test-false {
  background-color: #990000;
  color: #ddd;
}
.last-test-error {
  background-color: inherit;
  color: #bbb;
  border: 1px solid #ddd;
}

button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
  background: none;
  color: #fff;
  background-color: #f0ad4e;
  border: 1px solid #eea236;
  font-size: 14px;
  line-height: 1.42857143;
}


button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all {
  background: none;
  color: white;
  font-weight: normal;
  background-color: #bf0001;
  border-color: #a60001;
  font-size: 14px;
  line-height: 1.42857143;
}
