// Place all the styles related to the ScheduledTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scheduled-test-notes-column {
  width: 30%;
}
.scheduled-test-tests-column {
  width: 25%;
}
.scheduled-test-recurring-column {
  width: 15%;
}
.scheduled-test-next-test-column {
  width: 15%;
}
.scheduled-test-updated-at-column {
  width: 15%
}

a.scheduled-test-testset {
  font-size: 0.7em;
  float: left;
  padding-right: 0.7em;
}

.collection-name-container {
  float: left;
  padding-right: 0.2em;
  width: 100%;
}

.scheduled-tests-collection-container {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  box-shadow: 3px 2px 1px #aaa;
}

.small-table-headings {
  background-color: #eee;
}
