.testaction-position-column {
  width: 8%;
}
.testaction-name-column {
  width: 18%;
}
.testaction-description-column {
  width: 38%;
}
.testaction-activity-column {
  width: 13%;
}
.testaction-updatedat-column {
  width: 18%;
}
.testaction-delete-column {
  width: 5%
}
.btn-right {
  margin-left: 1em;
}

table > tbody > tr > td.below-testaction-position-column {
  background-color: #f9f9f9;
  border-top: 0 none #f9f9f9;
}

.subset-tablerow {
  background-color: #666;
}
.table .subset-tablerow > td {
  color: #fff;
  font-size: 0.7em;
}

.table td {
  font-size: 1.3em;
}
.table td.description-font-size {
  font-size: 0.8em;
}

.nested-object-identifier {
  float:left;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  background-color: #333;
}
.nested-object-identifier a,
.nested-object-identifier a:link,
.nested-object-identifier a:visited {
  color: #fff;
}
.nested-object-identifier a:hover,
.nested-object-identifier a:focus {
  color: #ddd;
  background-color: inherit;
}

.pre-siblings-container {
  float: left;
}
.everything-else-container {
  float: left;
}
.line {
  background-color: #ddd;
}
.relationship-down {
  width: 1px;
  height: 25px;
  margin-top: -1em;
  margin-bottom: -2em;
}
.relationship-left {
  height: 1px;
  width: 25px;
  float: left;
  margin: 3em -1em 0 -1em;
}
.relationship-right {
  height: 1px;
  width: 25px;
  float: left;
  margin: 3em -1em 0 -1em;
}
.selected-object {
  border: 1px solid #bbb;
  background-color: #8c0001;
}

.siblings-container {
  margin: 1em;
}

.test-action-data-link,
.test-action-data-link:link,
.test-action-data-link:visited {
  color: #fff;
}
.test-action-data-link:hover,
.test-action-data-link:focus {
  color: #ddd;
  background-color: inherit;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  border-top: #454545 solid 0.5em;
}
.table-striped > tbody > tr:first-of-type {
  border-top: #ddd none 0;
}

.associated-data-position-column {
  width: 10%;
  text-align: right;
  border-right: 1px solid #d4d4d4;
}

.associated-data-data-column {
  width: 90%;
}

.float-form-element {
  float:left;
  width: auto;
}

.test-actions-index-checkbox-column { width: 3%; }
.test-actions-index-name-column { width: 25% }
.test-actions-index-description-column { width: 35% }
.test-actions-index-action-name-column { width: 15% }
.test-actions-index-action-updated-at-column { width: 22% }

.table > thead > tr.small-table-headings > th {
  font-size: 0.8em;
  line-height: 1.4em;
  color: #666;
}

.testset-name-header {
  margin-bottom: 1em;
}

div.copy-action-page-header {
  padding-bottom: 0em;
  margin-bottom: 1.4em;
}

#copySteps {
  margin-top: 1em;
}

a.btn-expand, a.btn-contract {
  border-width: 0;
  background-color: inherit;
  min-width: 16px;
}

.link-back-to-test-from-action,
.link-back-to-test-from-action:link,
.link-back-to-test-from-action:visited {
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #ddd;
  color: #444;
}

.link-back-to-test-from-action:active,
.link-back-to-test-from-action:hover,
.link-back-to-test-from-action:focus {
  border: 1px solid #bbb;
  background-color: #ccc;
  color: #222;
}
